.about-container {
  width: 100%;
}

.profile-image {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 200px;
}

.about {
}

.skill-1 {}

.skill-2 {}

.skill-3 {}

.skill-4 {}

.skill-5 {}

.skill-6 {}
