.nav-bar {
  position: absolute;
  top: 420px;
  width: 100%;
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0%;
  width: 100%;
}

.nav-link {
  font-size: 14pt;
  padding: 0px 7%;
  color: white;
}
